.cr-chat {
    position: fixed;
    left: 2em;
    bottom: 2em;
    z-index: 10;
    transition: all 0.5s ease-in;
}

.cr-chat-head {
    background-color: #720d08;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 8px;
}
.cr-chat-panel {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
}

.cr-chat-display-holder {
    background-color: #bbb;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.cr-chat-panel,
.cr-chat-display-holder {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.cr-chat-display {
    min-height: 2em;
    max-height: 35em;
    width: 30em;

    overflow-y: scroll;
}

.cr-chat-form {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.btn-cr-chat-send {
}

.btn-cr-chat-icon {
    margin-right: 8px;
}

#btnSend {
    padding: 1.2rem 1.8rem;
    border-radius: 9px;
    background: #720d08;
    color: #fff;
    transition: all 0.5s;

    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-cr-chat {
}

#wsText {
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 9px;
    outline: none;
    flex: 1;
}

.cr-chat-message-balloon {
    margin: 4px;
    border-radius: 4px;
    padding: 8px;

    font-size: 1.4em;
}

.cr-chat-user-balloon {
    background-color: aquamarine;
}

.cr-chat-attendant-balloon {
    background-color: rgb(254, 255, 203);
}

.cr-hidden {
    opacity: 0;

    pointer-events: none;

    visibility: hidden;
}

.cr-show {
    opacity: 1;

    pointer-events: all;

    visibility: visible;
}

.chat-start {
    position: fixed;
    bottom: 24px;
    left: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 20;
    transition: all 0.5s ease-in;
}

.chat-start .chat-start-icon {
    height: 72px;
    width: 72px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 50%;
    background-color: #720d08;
    font-size: 32px;
    color: #fff;
}

.chat-logo-holder {
    transform: skewX(-15deg);
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
}
