/* @media (min-width: 576px) {
    .hero-section {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
        flex-wrap: wrap;
        background-size: cover;
        height: 440px;

    }

    .heading-primary {
        font-size: 4rem;
    }

    .hero-action-heading {
        font-size: 3.2rem;
    }

    .logo-container img {
        width: 480px;
    }
} */

@media (min-width: 40em) {
    html {
        font-size: 72%;
    }

    .hero-btn:link,
    .hero-btn:visited {
        font-size: 1.4rem;
        padding: 1.6rem 1.2rem;
    }

    .hero-section {
        grid-template-columns: 1fr 1fr;
    }

    .about-us-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.2rem;
    }

    .hero-col.right-col {
        /* background-image: linear-gradient(#00000088, #00000088),
            url(../img/optimal/woman-laptop-square.jpg);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
    }

    /* .right-col .hero-img {
        border-bottom-right-radius: 11px;
        overflow: hidden;
    } */

    .hero-col.right-col::before {
        background-color: #fff;
    }

    .hero-col.right-col::after {
        background-color: var(--dark-blue-tint);
    }

    .heading-primary {
        font-size: 4rem;
    }

    .resources-container {
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        justify-items: center;
    }

    .features-text {
        font-size: 2rem;
    }

    .plan-desc-p {
        font-size: 1.8rem;
    }

    .pre-paid-plans {
        flex-direction: row;
        justify-content: space-between;
    }

    .pre-paid-plan {
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }
    .logo-col img {
        max-width: 48rem;
    }
}

@media (min-width: 768px) {
    .heading-primary {
        font-size: 4.8rem;
    }

    .hero-text {
        margin-top: 1.2rem;
        font-size: 2rem;
        line-height: 1.6;
    }

    .hero-btn:link,
    .hero-btn:visited {
        font-size: 1.8rem;
    }

    .box-resource {
        max-width: 380px;
    }

    .features-plans,
    .dedicated-plan-container {
        flex-direction: row;
    }

    .features-plan {
        flex-direction: column;
        flex: 1;
    }

    .features-plan-img {
        min-height: 24rem;
    }

    .universe-plan-img {
        background-position: top;
    }

    .features-dedicated-plan-img {
        min-width: 36rem;
        min-height: 42rem;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
        border-top-right-radius: 0;
    }

    .btn-plan:link,
    .btn-plan:visited {
        padding: 0.8rem 1rem;
        font-size: 1.4rem;
    }

    .contact-container {
        display: flex;
        margin: 0 auto;
    }
    .section-contact {
        border-top-left-radius: 11px;
    }

    .contact-left-col {
        flex: 1.2;
        background-image: linear-gradient(
                to bottom right,
                rgba(30, 0, 14, 0.7),
                rgba(30, 0, 14, 0.7)
            ),
            url("../img/optimal/message-woman-v.jpg");
        background-size: cover;
        background-position: center;
        margin: 0;
        position: relative;
        border-bottom-right-radius: 11px;
        border-top-left-radius: 11px;
    }

    .contact-left-col::before {
        /* content: "";
        display: block;
        width: 100%;
        height: 18rem;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(80%, -60%); */
        background-color: var(--accent);
        border-radius: 11px;
    }

    .contact-left-col::after {
        /* content: "";
        display: block;
        width: 100%;
        height: 18rem;

        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-80%, 60%); */
        background-color: #fff;
        border-radius: 11px;
    }

    .contact-form-container {
        flex: 1.8;
    }

    .footer .social {
        grid-template-columns: 1fr 1fr;
        gap: 4.8rem;
    }

    .social-media-list {
        /* flex-direction: column; */
    }

    .footer-nav {
        grid-row: 1;
        grid-column: 2;
    }

    .footer-nav-list {
        align-items: flex-start;
    }

    .address-col {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .heading-primary {
        font-size: 6rem;
    }

    .hero-action-heading {
        font-size: 4rem;
    }

    .about-us-p {
        font-size: 1.8rem;
        line-height: 1.6;
        margin-bottom: 2.4rem;
    }

    .people-plan-img {
        background-image: linear-gradient(
                to bottom right,
                rgba(114, 13, 8, 0.3),
                rgba(114, 13, 8, 0.5)
            ),
            url("../img/optimal/woman-cell-h.jpg");
    }

    .world-plan-img {
        background-image: linear-gradient(
                to bottom right,
                rgba(30, 0, 14, 0.3),
                rgba(30, 0, 14, 0.5)
            ),
            url("../img/optimal/happy-man-cell-h.jpg");
    }

    .universe-plan-img {
        background-image: linear-gradient(
                to bottom right,
                rgba(2, 43, 58, 0.3),
                rgba(2, 43, 58, 0.5)
            ),
            url("../img/optimal/woman-tablet-h.jpg");
    }

    .features-dedicated-plan-img {
        min-width: 52rem;
        min-height: 42rem;
    }

    .footer .social {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4.8rem;
    }

    .main-nav {
        opacity: 1;

        pointer-events: auto;

        visibility: visible;
        transform: translateX(0);
        position: relative;
        width: auto;
        height: auto;
    }

    .main-nav-list {
        flex-direction: row;
        gap: 3.2rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 1.6rem;
    }

    .btn-mobile-nav {
        display: none;
    }

    .hero-description-text {
        font-size: 2.4rem;
    }

    .plan-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pre-paid-plan {
        padding: 4.8rem;
    }

    .traffic {
        font-size: 5.6rem;
    }

    .pre-paid-plan .price {
        font-size: 3.2rem;
    }

    .btn-plan:link,
    .btn-plan:visited {
        padding: 0.8rem 1.4rem;
        font-size: 2rem;
    }

    .footer-nav-list {
        padding-left: 4.4rem;
    }

    .social-media-list {
        flex-direction: column;
        /* align-items: flex-start;
        padding-left: 4.4rem; */
    }

    .address-col address {
        line-height: 1.8;
    }

    .address-col address::first-line {
        line-height: 1;
    }
}

@media (min-width: 75em) {
    .container {
        max-width: 1200px;
        /* padding: 3.2rem; */
    }

    .hero-col.right-col::before,
    .hero-col.right-col::after {
        background-color: var(--dark-blue-tint);
    }

    .hero-container {
        border-bottom-right-radius: 0;
    }

    .hero-description-text {
        font-size: 3.2rem;
    }

    .hero-btn:link,
    .hero-btn:visited {
        font-size: 2.4rem;
    }

    .hero-col.right-col {
        background-color: #ccd5d8;
    }

    .heading-about-us {
        padding: 0;
    }

    .section-contact {
        border-top-left-radius: 0;
    }
    .contact-container {
        max-width: 1200px;
    }

    .contact-left-col::after {
        background-color: var(--accent);
    }

    .features-pre-paid {
        margin: 0 auto;
        max-width: 1200px;
    }

    .traffic {
        font-size: 6.4rem;
    }

    .pre-paid-plan .price {
        font-size: 4.8rem;
    }

    .footer-nav-list {
        padding-left: 7.2rem;
    }
}
