/*


*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: ; */
    height: 8.4rem;
    position: relative;
    padding: 0 3.2rem;
}

/* STICKY NAV */

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.97);
    height: 8.4rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-container {
    margin-top: 8.4rem;
}

/* ******************* */
/* MOBILE NAVIGATION */
/* ******************* */

.main-nav {
    /* background-color: rgba(255, 255, 255, 0.97); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
}

.nav-open .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 999;
}

.btn-mobile-nav,
.btn-close-privacy {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1001;
}

.icon-mobile-nav,
.privacy-close {
    font-size: 3.2rem;
    color: var(--gray-dark-blue);
}

.icon-mobile-nav.icon-menu {
    display: block;
}

.icon-mobile-nav.icon-close {
    display: none;
}

.nav-open .icon-mobile-nav.icon-menu {
    display: none;
}

.nav-open .icon-mobile-nav.icon-close {
    display: block;
}

.main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    list-style: none;
}

.main-nav-item {
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.4rem;
    transition: all 0.3s;
    color: var(--gray-dark-blue);
}

.logo-top-img {
    height: 4rem;
}

/* ******************* */
/* HERO SECTION */
/* ******************* */

.hero-container {
    margin: 0 auto;
    background-color: #ccd5d8;
    border-bottom-right-radius: 11px;
    /* border-top: 1px solid #fff; */
    /* background-clip: content-box; */
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    /* flex-direction: column; */

    height: auto;
    /* overflow: hidden; */
    /* padding: 3.2rem; */
    overflow: hidden;
}

.hero-col {
    padding: 2.4rem;
    display: block;
}

.hero-col.left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-col.right-col {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    min-height: 36rem;
    background-color: #e6eaeb;
    /* border-radius: 11px; */
    border-top-left-radius: 11px;

    position: relative;
}

.right-col .hero-img {
    background-image: linear-gradient(#00000088, #00000088),
        url(../img/optimal/woman-laptop-square.jpg);

    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    border-bottom-right-radius: 11px;
    overflow: hidden;
    position: relative;
}

.hero-col.right-col::before {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%, -60%);
    background-color: var(--dark-blue-tint);
    border-radius: 11px;
}

.hero-col.right-col::after {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-80%, 60%);
    background-color: #e6eaeb; /*#fff;*/
    border-radius: 11px;
}

.hero-description-text {
    margin-top: 1.8rem;
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 500;
}

.hero-btn {
    margin-top: 1.2rem;
    background-color: var(--primary-shade);
    text-align: center;
}

.featured-in {
    height: 600px;
    width: 100%;
}

/* ******************* */
/* ABOUT US SECTION */
/* ******************* */

.section-about-us {
    background-color: #e6eaeb;
    padding: 2.4rem 0;
}

.about-us-container {
    padding: 3.2rem 0;
}

.heading-about-us {
    padding: 0 2.4rem;
}

.about-us-img {
    background-image: linear-gradient(#00000088, #00000088),
        url(../img/optimal/about-us.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    position: relative;
    overflow: hidden;
    min-height: 360px;
    margin-bottom: 2.4rem;
}

.about-us-img::before {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%, -60%);
    background-color: #e6eaeb;
    border-radius: 11px;
}

.about-us-img::after {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-80%, 60%);
    background-color: #e6eaeb; /*#fff;*/
    border-radius: 11px;
}

.about-us-text {
    padding: 0 2.4rem;
}

.about-us-p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

/* ******************* */
/* RESOURCES SECTION */
/* ******************* */

.section-resources {
    padding: 2.4rem;
    background-color: #d2cccf;
}

.resources-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
}
.box-resource {
}

.box-resource-img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    /* padding: 1.2rem; */
    width: 100%;

    border-radius: 50%;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.5s;
}

.speed-img-box {
    /* height: 100%; */
}

.box-resource-img:hover {
    transform: scale(1.1);
}

.resource-img-fill {
    transform: scale(1.1);
}

.resorce-img {
    opacity: 0.7;

    width: 100%;

    transition: all 0.5s;
}

.resorce-img:hover {
    opacity: 1;

    /* transform: rotate(3deg); */
}

/* ******************* */
/* FEATURES SECTION */
/* ******************* */
.section-features {
    padding: 4.8rem 2.4rem;
}

.features-text {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 2.4rem 0;
}

.features-intro-img img {
    width: 100%;
}

.features-plans .subheading {
    color: #678089;
}

.features-plans {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
}

.features-plan {
    display: flex;

    gap: 1.2;

    background-color: #fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.features-plan-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1.2;
}

.people-plan-img {
    background-image: linear-gradient(
            to bottom right,
            rgba(114, 13, 8, 0.3),
            rgba(114, 13, 8, 0.5)
        ),
        url("../img/optimal/woman-cell-v.jpg");
}

.world-plan-img {
    background-image: linear-gradient(
            to bottom right,
            rgba(30, 0, 14, 0.3),
            rgba(30, 0, 14, 0.5)
        ),
        url("../img/optimal/happy-man-cell-v.jpg");
}

.universe-plan-img {
    background-image: linear-gradient(
            to bottom right,
            rgba(2, 43, 58, 0.3),
            rgba(2, 43, 58, 0.5)
        ),
        url("../img/optimal/woman-tablet-v.jpg");
}

.plan-description {
    flex: 2.8;
    padding: 1.8rem;
    font-size: 1.4rem;
    line-height: 1.4;
    transition: all 0.5s;
}

.plan-description:hover {
    background-color: var(--dark-blue-tint);
}

.plan-subheading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 1.2rem 0;
    text-align: center;
}

.plan-cta {
    margin-top: 1.2rem;
    text-align: center;
}

.plan-speed {
    font-size: 4.8rem;
    font-weight: 700;

    text-align: center;
}

.plan-speed span {
    font-size: 1.2rem;
}
.people-plan .plan-speed {
    color: var(--primary);
}

.world-plan .plan-speed {
    color: rgb(30, 0, 14);
}

.universe-plan .plan-speed {
    color: rgb(2, 43, 58);
}

.plan-price {
    font-size: 3.2rem;
    font-weight: 700;
    color: #777;
    text-align: center;
}

.plan-price span {
    font-size: 1.2rem;
}

.pre-paid-plans {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.pre-paid-plan {
    padding: 2.4rem;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccd5d8;

    transition: all 0.5s;
}

.pre-paid-plan:hover {
    transform: scale(1.1);
}

.pre-paid-plan .price {
    font-size: 1.8rem;
    font-weight: 600;
}

/* .pre-paid-plan:first-child{
    background-color: #f9e8e7;
}

.pre-paid-plan:nth-child(2){
    background-color: #e9f4fb;
}

.pre-paid-plan:last-child{
    background-color: #e9e6e7;
} */

.traffic {
    font-size: 3.6rem;
    font-weight: 700;
}

.pre-paid-cta {
    text-align: center;
}

.btn-pre-paid {
    background-color: var(--gray-dark-blue);
}

.btn-plan {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primary-shade);
    text-align: center;
    cursor: pointer;
}

.btn-plan:link,
.btn-plan:visited {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primary-shade);
    text-align: center;
    cursor: pointer;
}

/* ******************* */
/* PARTNERSHIP SECTION */
/* ******************* */
.section-partnership {
    padding: 4.8rem 2.4rem;
    background-color: #f9e8e7;
}

.partnership-text {
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 2.4rem 0;
}

.partnership-img {
    width: 100%;
    filter: brightness(0.7);
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    margin-bottom: 2.4rem;
}

.partnership-cta {
    text-align: center;
}

/* ******************* */
/* CONTACT SECTION */
/* ******************* */

.contact-icon-p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3.2rem;
}

.contact-icon-container {
    background-color: #fff;
    color: #1e000e;
    font-size: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.8rem;
    height: 9.8rem;
    border-radius: 50%;
}

.section-contact {
    position: relative;
    background-color: #1e000e;
    color: #fff;
    font-size: 1.8rem;
    /* padding: 0 0 2.4rem 0; */
    border-top-left-radius: 11px;
}

.contact-form-container {
    padding: 0 2.4rem 2.4rem 2.4rem;
}

.section-contact form {
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.section-contact *:focus {
    box-shadow: 0 0 0 0.8rem #fdf2e998;
}

.contact-left-col {
    background-image: linear-gradient(
            to bottom right,
            rgba(30, 0, 14, 0.7),
            rgba(30, 0, 14, 0.7)
        ),
        url("../img/optimal/message-woman-h.jpg");
    background-size: cover;
    background-position: center;
    min-height: 24rem;
    /* border-radius: 11px; */
    overflow: hidden;
    margin: 2.4rem 0 0 0;
    position: relative;

    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
}

.contact-left-col::before {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%, -60%);
    background-color: #fff;
    border-radius: 11px;
}

.contact-left-col::after {
    content: "";
    display: block;
    width: 100%;
    height: 18rem;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-80%, 60%);
    background-color: var(--accent);
    border-radius: 11px;
}

.input-caption {
    display: block;
    padding: 1.6rem 0;
}

.form-control {
    width: 100%;
    padding: 1.2rem;
    border: 2px solid #4b333e;
    border-radius: 9px;
    outline: none;
}

.btn-contact-send {
    background-color: #00000000;
    border: 2px solid #fff;
}

.success {
    background-color: #28a745fa;
}

.danger {
    background-color: #dc3545;
}

.toast {
    position: fixed;
    top: 8.4rem;
    color: #fff;
    right: 0;
    z-index: 970;
    padding: 3.2rem;
    border-bottom-left-radius: 11px;
    transition: all 0.5s;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.toast-show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
}

.toast-message {
    margin-top: 2.4rem;
    font-size: 1.4rem;
}

/* ******************* */
/* FOOTER SECTION */
/* ******************* */

.footer {
    padding: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
}

.footer .social {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 2.4rem 0 4.8rem 0;
}

.footer-nav {
    grid-row: 2;
}

.footer-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-nav-list li a {
    color: var(--gray-dark-blue);
}

.logo-col img {
    width: 100%;
}

.social-media-list {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 1.8rem;
}

.icon-social-media {
    font-size: 2.4rem;
    color: var(--gray-dark-blue);
}

.address-col {
    padding-bottom: 2.4rem;
}

/* ******************* */
/* MAINTENANCE SECTION */
/* ******************* */

.maintenance {
    padding: 4.8rem;
    text-align: center;
    height: 100vh;
    position: relative;
    width: 100%;
}

.logo-container img {
    width: 100%;
}

.maintenance .logo-base {
}

.maintenance .logo-container {
    margin: 200px auto;
    /* transform: translateY(200px); */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 1s ease-out;
}

.maintenance .logo-container.logo-appear {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(-150px);
}

.partners-logos {
    padding: 8px 3.2rem;
}

.partner-logo {
    filter: grayscale(1);
    width: 70%;
}

.privacy-policy-container {
    width: 100%;
    height: 100%;

    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;

    overflow-y: scroll;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 1009;
}

.open-privacy {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.btn-close-privacy {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
}

.privacy-policy {
    margin: 2.4rem;
    padding: 3.2rem;
    background-color: #fff;
    color: var(--gray-dark-blue);
    position: relative;
    border-radius: 11px;
    z-index: 1010;
}

.privacy-policy ul {
    margin-left: 4.8rem;
}

.privacy-p {
    font-size: 1.6rem;
    line-height: 1.4;

    margin: 2.4rem 0;
}

.right-floating-call {
    background-color: rgb(70, 178, 250);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
    font-size: 1.4rem;

    transition: all 0.5s;
    width: 234px;
    margin-right: -184px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.right-floating-call a {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fff;
}

.right-floating-call:hover {
    margin-right: 0;
}

.customer-center-call {
    position: fixed;
    top: 128px;
    right: 0;
}

.speed-test-call {
    position: fixed;
    top: 196px;
    right: 0;
    background-color: #dc3545;
}

.right-floating-call-icon {
    font-size: 2.4rem;
}
